body {
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 5rem;
}

#sketchpad {
    height: 500px;
    width: 500px;
    border: 1px solid darkviolet;
    display: grid;
}

#slider {
    display: grid;
    place-content: center;
}

#slider > input {
    width: 10rem;
}

#slider > p {
    text-align: center;
}

.cell {
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: thistle;
    border: 1px solid darkviolet;
}