:root {
    --clr-border: gainsboro;
    --clr-grid-bg: whitesmoke;
    --clr-font: gray;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 5rem;
}

h1, label, span {
    font-family: sans-serif;
    text-align: center;
    color: var(--clr-font);
}

#sketchpad {
    height: 500px;
    width: 500px;
    border: 1px solid var(--clr-border);
    display: grid;
}

#slider {
    display: grid;
    place-content: center;
    gap: 1rem;
}

#slider label {
    font-size: 1.5rem;
}

#slider > input {
    width: 10rem;
}

.cell {
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: var(--clr-grid-bg);
    border: 1px solid var(--clr-border);
}